:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* уравнивание шрифтов на разных устройствах */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 23px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* наследование шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* убирают особ в разных браузерах */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h6 h5 h4 h3 h2 h1 {
  font-size: inherit;
  font-weight: 400;
}

*,
*::before,
*::after {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h2 {
  color: #4c5767;
}

h4 {
  color: #424c5e;
}

p {
  color: #515c71;
  font-size: 23px;
  line-height: 30px;
}

.header_menu_all {
  display: flex;
  background-color: white;
  margin: 0 95px 0px 95px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav {
  display: flex;
  font-size: 23px;
}

.nav__menu {
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 0px 0 25px;
  color: #79818d;
  transition: 0.2s linear;
}

.nav__menu:hover {
  color: #4d99cf;
  text-decoration: underline;
}

.main {
  box-sizing: border-box;

}

.baner {
  background-color: #65a9d8;
  height: 834px
}

.baner_text_form {
  padding-left: 150px;
}

h1.baner_title_h1,
#baner_title_p,
.b_form {
  color: #ffff;
  margin-bottom: 55px;
}

.baner_title_h1 {
  text-transform: uppercase;
  position: absolute;
  padding: 139px 0 0 135px;
  font-size: 55px;
  line-height: initial;
  z-index: 1;
}

#baner_title_p {
  position: absolute;
  padding: 337px 0 0 138px;
  font-size: 25px;
  z-index: 1;
}

.baner_text {
  position: absolute;
  padding: 408px 0 0 138px;
  font-size: 23px;
  margin: 31px 0;
  z-index: 1;
}

.b_form {
  font-size: 23px;
}

#email {
  border-style: none;
  border-radius: 5px;
  padding: 15px 160px;
  font-size: 15px;
  line-height: 2;
  margin: 0px 42px 0 0;
}

#submit {
  color: white;
  background-color: #77c344;
  padding: 13px 100px 18px 100px;
  border-radius: 5px;
  border-style: none;
  font-size: 23px;
}

#submit:hover {
  background-color: #356813;
}

.phone {
  height: 1050px;
  /* height: 820px; */
  position: absolute;
  top: 53px;
  right: 50px;
}

.cloud1 {
  height: auto;
  width: 65px;
  margin: 81px;
  position: absolute;
}

.cloud2 {
  height: auto;
  width: 45px;
  position: absolute;
  top: 150px;
  left: 85%;
}

.cloud3 {
  height: auto;
  width: 65px;
  opacity: 0.7;
  background-position: right top;
  position: absolute;
  top: 364px;
  left: 85%;
}

.cloud4 {
  height: auto;
  width: 35px;
  margin: 635px 0px 0 179px;
  position: absolute;
}

.clients {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.client {
  padding: 15px;
}

.list {
display: flex;
}
/* hjhj */

.div_notebook {
  background-image: url(img/macbook2.png);
    background-repeat: no-repeat;
    background-position: right 300px;
    /* height: 100hv; */
    /* position: relative; */
    /* left: 0px; */
    margin-bottom: 158px;
}

.macbook {
  float: right;
  background-size: 867px auto;
}

.section_h2 {
  text-align: center;
  padding: 125px 0 125px 0;
  font-size: 30px;
  text-transform: uppercase;
}

.small_pikcher {
    padding: 20px 0 0 50px;
    vertical-align: middle;
}

.pikcher {
  padding-left: 42px;
  vertical-align: middle;
  height: 62px;
}

.pikcher_name {
  padding: 0 0 0 20px;
  font-size: 25px;
    display: inline;
    line-height: initial;
}

.section_p {
  padding-left: 40px;
  text-align: justify;
  max-width: 50%;
  font-size: 23px;
  line-height: 30px;
}

.section_p_style {
  margin-bottom: 70px;
}

.why_different {
  height: auto;
  background-image: url(/img/background_with.sheeps.png);
  background-color: #e9e9f2;
  background-repeat: no-repeat;
  background-position: right top;
}

.block_section_p {
  margin-bottom: 80px;
}

.ships_h2 {
  padding: 120px 0 0;
  text-align: center;
  margin: 0px 0 120px 0;
  font-size: 30px;
}

.muovi_clouds_and_h3 {
  align-items: center;
  padding-left: 100px;
}

.cloud_gray {
  margin: -5px 0 0 47px;
}

.cloud_blue {
  padding-left: 20px;
  position: absolute;
}

.muovi_clouds_h3 {
  padding-left: 120px;
  margin-top: -9px;
  font-size: 25px;
}

.muovi_clouds_p {
  text-align: justify;
  font-size: 23px;
  line-height: 30px;
}

.muovi_clouds_p_div {
  padding: 35px 39% 60px 131px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-a {
  margin: 15px 15px 150px 15px;
  border-radius: 100px;
  text-align: center;
  padding-top: 28px;
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: rgb(205, 200, 231);
}

.registration {
  justify-content: center;
  padding-top: 208px;
}

.title_form {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.r_form {
  justify-content: center;
  display: flex;
  font-size: 23px;
}

#get {
  text-align-last: center;
  padding-top: 50px;
  margin-bottom: 80px;
}

#r_email {
  height: 45px;
  border: 1px solid #79818d;
  padding: 32px;
  width: 500px;
}

#r_submit {
  color: #fff;
  padding: 26px 90px 25px 95px;
  background-color: #77c344;
  text-transform: uppercase;
}

#r_submit:hover {
  background-color: #356813;
}

#r_email {
  background-image: url(/img/icon_leter.png);
  background-repeat: no-repeat;
  background-position: 30px 50%;
  padding: 33px 24px;
}

.footer_menu_all {
  display: flex;
  background-color: #efefef;
  /* justify-content: space-between; */
  align-items: center;
  height: 60px;
}

.f_logo {
  padding-left: 100px;
  margin-right: 315px;
}

.footer_nav {
  display: flex;
  padding-left: 50px;
}

.footer__menu:hover {
  color: #4d99cf;
}

.footer__menu {
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 35px 0 25px;
  font-size: 23px;
  color: #79818d;
  transition: 0.2s linear;
}

.logo_link {
  padding-left: 100px;
  background-size: 867px auto;
}
